/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* :root{

} */


input {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid black;
  width: 100%;
}

/* HEADER STARTS HERE */
.container {
  width: min(1440px, 90%);
  margin-inline: auto;
  padding: 2rem;
  background-color: aqua;
}

.login {
  display: flex;
}





.leftside {
  width: 50%;
  display: none;
}

.leftside img {
  width: 100%;
  height: 100vh;
  position: relative;
  object-fit: cover;
  
}

.leftside h1 {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 30%;
  color: black;
}

.authForm {
  padding: 3rem;
  margin-block: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  width: 100%;
}

.formInput {
  display: flex; 
  flex-direction: column;
  gap: .5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.authButton {
  display: flex;
  gap: 1rem;
}

.button {
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.button-2 {
  padding: 1rem 2rem;
  background-color: black;
  color: rgb(173, 173, 173);
  border: none;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.logout {
  padding: 1rem 2rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}

h1 {
  font-size: 50px;
}


.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  color: white;
  align-items: center;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  text-align: center;
  margin-inline: auto;
  padding: 6rem;
  gap: 1rem;
}

/* .imagesList {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  width: 80%;
  margin-inline: auto;
  gap: 1rem;
  justify-content: center;
} */

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* Adjust the column width as needed */
  grid-gap: 10px;
  /* Adjust the gap between items */
  width: 80%;
  margin-inline: auto;
}

.img {
  border-radius: 10px;

  
}

.img img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.h {
  height: 160px;
}

/* .tagList {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  flex-wrap: wrap;
  align-items: start;
} */

.error {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  color: white;
  align-items: center;
  gap: 1rem;
  padding: 10rem;
}

.tagList p {
  font-size: 12px;
  background-color: grey;
  padding: .1rem .5rem;
  border-radius: 10px;
}
 /* HEADER ENDS HERE */

 @media (min-width: 60rem) {
  .header {
    flex-direction: row;
  }
  .imagesList {
    grid-template-columns: 200px 200px 200px 200px 200px;
  }

  .leftside {
    display: block;
  }

  .authForm {
    width: 50%;
    padding: 6rem;
  }
 }